body{
  // background: url(dark_bg.jpeg) #252B2E repeat;
  background-color: #5e717c;
}

header{
  color: #fff;
  font-size: 20px;
  text-align: center;
  padding: 20px;
  background: transparent url(../images/aldeia_and_nex_feature.png) no-repeat center center;
  height: 100px;
  text-indent: -10000px;
  overflow: hidden;
}

section{
  background-color: #fff;
  -moz-border-radius: .5em;
  -webkit-border-radius: .5em;
  border-radius: .5em;
  margin-bottom: 1em;
}

section .inner{
  padding: 40px;
}

p{
  line-height: 1.5em;
}

.masthead {
  padding: 40px;
  color: #5e717c;
  text-align: center;
  // text-shadow: 0 1px 3px rgba(0, 0, 0, .4), 0 0 30px rgba(0, 0, 0, .075);
  background: #FFF url(../images/curso_mkt_pessoal.jpg) no-repeat right bottom;
  min-height: 350px;
}

.masthead .btn{
  font-size: 24px;
  margin-top: 1em;
}

.masthead h1{
  margin: 0.5em 0;
  font-size: 56px;
  line-height: 1em;
}

.masthead p{
  font-size: 28px;
  line-height: 1em;
}

.masthead .inner{
  margin-right: 280px;
}

// #saiba-mais{
//   background-color: #F2F2F2;
// }

// #saiba-mais .span8{
//   background-color: #fff;
// }

.sidebar-inner{
  padding: 40px 40px 0 0;
  // background-color: #F2F2F2;
}

footer{
  // background: #F2F2F2;
  // border-top: 1px solid #E4E4E4;
  // color: #666;
  color: #eee;
  // margin-top: 40px;
  overflow: hidden;
  padding: 40px 0;
}

footer a{
  color: #B3D8EC;
}

footer a:hover{
  color: #C2E9FF;
}

footer h6{
  font-size: 150%;
}

footer .aldeia{
  text-align: right;
  background: transparent url(../images/aldeia_logo.png) no-repeat 0px 50%;
}

footer .nex{
  background: transparent url(../images/nex_logo.png) no-repeat right 50%;
}

/* Tablet
------------------------- */
@media (max-width: 767px) {
  .masthead {
    padding: 20px;
    min-height: 0px;
    background-size: contain;
    // background-position: right top;
  }
  .masthead h1{
    margin: 0.5em 0;
    font-size: 36px;
    line-height: 1em;
  }
  .masthead p{
    font-size: 18px;
    line-height: 1.5em;
  }
  section .inner, .sidebar-inner{
    padding: 20px;
  }
  
  footer .aldeia{
    text-align: left;
  }
  
}

/* Landscape phones
------------------------- */
@media (max-width: 480px) {
  .masthead {
    padding: 10px;
    min-height: 0px;
    background-image: none;
  }
  .masthead h1{
    margin: 0;
    font-size: 24px;
    line-height: 1em;
  }
  .masthead p{
    font-size: 16px;
    line-height: 1.5em;
  }
  
  .masthead .inner{
    margin: 0;
    padding: 10px;
  }
  section .inner, .sidebar-inner{
    padding: 20px;
  }
  footer .aldeia{
    text-align: left;
  }
  
}